$bg-color-afc: #f9fafc;
$bg-color-fff: #ffffff;
$bg-color-6fa: #f6f6fa;
$bg-color-faf: #fafafa;
$bg-color-footer: #34495e;
$bg-color-inp: #253544;


$text-color-fff: #ffffff;
$text-color-333: #333333;
$text-color-2B: #2B2B2B;
$text-color-744: #EF4744;
$text-color-757: #EB5757;
$text-color-f4f: #4F4F4F;
$text-color-cf: #cfcfcf;
$text-color-1d1: #f6d1d1;
$text-color-7f3: #d1e7f3;
$text-color-cdb: #2D9CDB;
$text-color-oc7: #D3D0C7;
$text-color-868: #686868;
$text-color-f2:  #F2F2F2;
$text-color-BD: #BDBDBD;

$btn-hover-CDB: #2D9CDB;