.main__interview {
    padding: 54px 0;
    background-color: $bg-color-afc;
    &__container {
        text-align: center;
        h2 {
            font-weight: 400;
            font-size: 36px;
            line-height: 40px;
            color: $text-color-333;
        }

        &__lists {
            list-style: none;
            display: grid;
            grid-template-columns: 350px 350px 350px;
            justify-content: center;
            gap: 30px;
            padding: 0;
            .lists__item--left {
                text-align: start;
                padding: 24px 97px 20px 25px;
                box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
                border-radius: 9px;
                height: 230px;
                .left--icon {
                    background-image: url(..//../images/svg/elearning.svg);
                    background-repeat: no-repeat;
                    height: 40px;
                }
                .left--title {
                    h4 {
                    margin: 0;
                    padding-top: 16px;
                }
                    p {
                        margin: 0;
                        padding-top: 8px;
                    }
                }
            }

            .lists__item--center {
                text-align: start;
                padding: 24px 57px 20px 25px;
                box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
                border-radius: 9px;
                height: 230px;
                .center--icon {
                    background-image: url(..//..//images/svg/result.svg);
                    background-repeat: no-repeat;
                    height: 40px;
                }
                .center--title {
                    h4 {
                    margin: 0;
                    padding-top: 16px;
                }
                    p {
                        margin: 0;
                        padding-top: 8px;
                    }
                }
            }

            .lists__item--right {
                text-align: start;
                padding: 24px 40px 20px 25px;
                box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
                border-radius: 9px;
                height: 230px;
                position: relative;
                .right--icon {
                    background-image: url(..//..//images/svg/report.svg);
                    background-repeat: no-repeat;
                    height: 40px;
                }

                .right--title {
                    h4 {
                    margin: 0;
                    padding-top: 16px;
                }
                    p {
                        margin: 0;
                        padding-top: 8px;
                    }
                }
                
                .lists__item--right__ws {
                    display: grid;
                    grid-template-columns: 20px 20px 20px 20px;
                    gap: 4px; 
                    list-style-type: none;
                    position: absolute;
                    padding: 0;
                    left: 120px;
                    bottom: 24px;
                    .ws--calc {
                        background-image: url(..//..//images/svg/file-table-box-1.svg);
                        background-repeat: no-repeat;
                        height: 20px;
                        width: 20px;
                    }

                    .ws--word {
                        background-image: url(..//..//images/svg/file-word-box-2.svg);
                        background-repeat: no-repeat;
                        height: 20px;
                        width: 20px;
                    }

                    .ws--adobe {
                        background-image: url(..//..//images/svg/file-pdf-box-3.svg);
                        background-repeat: no-repeat;
                        height: 20px;
                        width: 20px;
                    }

                    .ws--exc {
                        background-image: url(..//..//images/svg/file-excel-box-4.svg);
                        background-repeat: no-repeat;
                        height: 20px;
                        width: 20px;
                    }   
                }
            }
        }
    }
}